/* body {
    background-color:coral;
}

.linha {
    height: 40px;
}

.celula {
    display: inline-block;
    width: 220;
}

.alerta {
    position: absolute;
    left: 1100px;
    top: 20px;
    width: 250px;
    display: flex;
    flex-direction: column;    
}
 */
